#start {
	height: 100vh;
	width: 100%;
	background-image: url(../img/bg1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#start .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
}
#start strong {
	color: #23befe;
}
#start > .container a {
	color: #23befe;
	text-decoration: none;
}
#start .logotype {
	margin-bottom: 46px;
}
#donate {
	width: 100%;
	background-image: url(../img/bg2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#donate .donate-header {
	text-align: center;
	margin-bottom: 60px;
	margin-top: 60px;
}
#donate .donate-header h2 {
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
}
#donate .donate-block {
	width: 100%;
	height: 200px;
	border: solid 4px #23befe;
	border-radius: 36px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
	transition: 0.3s ease-in-out;
}
#donate .donate-item a{
	color: #23befe;
	font-size: 24px;
	text-decoration: none;
	font-weight: bold;
	transition: 0.3s ease-in-out;
}
#donate .donate-block:hover {
	border-color: #fff;
}
#donate .donate-item a:hover {
	color: #fff;
}
.modal h4,p {
	color: #fff;
}
#myModal1 strong {
	color: #85d122;
}
#myModal2 strong {
	color: #edf927;
}
#myModal3 strong {
	color: #23befe;
}
#myModal4 strong {
	color: #b721ef;
}
#myModal5 strong {
	color: #4b8d9e;
}
#myModal6 strong {
	color: #bb39d2;
}
#myModal7 strong {
	color: green;
}
#myModal8 strong {
	color: orange;
}
#gallery {
	width: 100%;
	background-color: #070e1d;
}
footer .container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #fff;
}
footer a {
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 15px;
	margin-top: 15px;
	transition: 0.3s ease-in-out;
}
footer a:hover {
	color: orange;
	text-decoration: none;
}